<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/another.css}">
    <!-- 引入技能图表的CSS -->
    <link th:href="@{/css/show-skill.css}" rel="stylesheet">
    <!-- 引入地图的CSS -->
    <link th:href="@{/css/show-map.css}" rel="stylesheet">
    <link th:href="@{/css/show-num.css}" rel="stylesheet">
    <title>智寻归途数据可视化中心</title>
    <script th:src="@{/js/jquery-2.2.1.min.js}"></script>
    <script th:src="@{/js/rem.js}"></script>
    <script th:src="@{/js/echarts.min.js}"></script>
    <script th:src="@{/js/guangxi.js}"></script>
    <script th:src="@{/js/index.js}"></script>
    
    <!-- 引入高德地图API -->
    <script type="text/javascript">
    window._AMapSecurityConfig = {
        securityJsCode: "f8ad23bb5e2995594eb1c0d1a8c9e85f",
    };
    </script>
    <script src="https://webapi.amap.com/maps?v=2.0&key=8c25fcd7450b05cd9d63fd310c2f3652&plugin=AMap.Geocoder"></script>
</head>
<body>
<div class="t_container">
    <header class="t_header">
        <span>智寻归途数据可视化中心</span>
    </header>
    <main class="t_main">
        <div class="t_left_box">
            <img class="t_l_line" th:src="@{/img/left_line.png}" alt="">
                <div class="rescue-stats-integrated">
                    <div th:replace="~{show/show-num :: rescue-stats}"></div>
                </div>
            <img class="t_r_line" th:src="@{/img/right_line.png}" alt="">
        </div>
        <div class="t_right_box">
            <img class="t_l_line" th:src="@{/img/left_line.png}" alt="">
                <!-- 引入技能分布图表片段，并添加适配样式 -->
                <div class="skill-chart-integrated">
                    <div th:replace="~{show/show-skill :: skill-distribution-chart}"></div>
                </div>
            <img class="t_r_line" th:src="@{/img/right_line.png}" alt="">
        </div>
        <div class="t_center_box">
            <img class="t_l_line" th:src="@{/img/left_line.png}" alt="">
            <div id="oldAnalysis" class="echart" style="width: 100%; height: 3.6rem;"></div>
            <img class="t_r_line" th:src="@{/img/right_line.png}" alt="">
        </div>
        
        <!-- 在左下角位置插入技能分布图表 -->
        <div class="b_left_box">
            <img class="t_l_line" th:src="@{/img/left_line.png}" alt="">
            <!-- 引入地图片段，并添加适配样式 -->
            <div class="rescue-map-integrated">
                <div th:replace="~{show/show-map :: mapfrag}"></div>
            </div>
            <img class="t_r_line" th:src="@{/img/right_line.png}" alt="">
        </div>
        
<!--        <div class="b_center_box">-->
<!--        </div>-->
<!--        <div class="b_right_box">-->
<!--            <img class="t_l_line" th:src="@{/img/left_line.png}" alt="">-->
<!--            <h1 class="t_title">实时救援请求</h1>-->
<!--            <div class="t_table" style="height: 3.4rem">-->
<!--                <div class=""></div>-->
<!--                <div class="wrap">-->
<!--                    <ul>-->
<!--                        <li>-->
<!--                            <p>谢雨晴加入了救援队伍</p>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <p>陈翠英在无锡市滨湖区海岸城附近走失</p>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <p>王建国在无锡市滨湖区星光广场附近走失</p>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <p>谢雨晴在星光广场附近没有发现老人</p>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <p>谢雨晴在健康街道附近没有发现老人</p>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <p>谢雨晴在融创茂附近发现疑似老人</p>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--                <img class="t_r_line" th:src="@{/img/right_line.png}" alt="">-->
<!--            </div>-->
<!--        </div>-->
    </main>
</div>

<!-- 引入技能图表的JavaScript -->
<script th:src="@{/js/show-skill.js}"></script>
<!-- 引入地图的JavaScript -->
<script th:src="@{/js/show-map.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(function(){
        var apiUrl = /*[[ @{/data_view/data_visualizer} ]]*/ '/data_view/data_visualizer';

        $.getJSON(apiUrl, function(data){
            $('#rescuing').text(data.RescuingCount);
            $('#rescued').text(data.RescuedCount);
            $('#total_people').text(data.TotalPeopleNum);
            $('#total_rescue').text(data.TotalTaskNum);
        }).fail(function(){
            console.error('接口请求失败');
        });
    });
    /*]]>*/
</script>

</body>
</html>