<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>搜救地图</title>
</head>
<body>
    <div th:fragment="mapfrag">
        <div class="map-container">
            <div id="rescue-map"></div>
        </div>

        <!-- 引入独立的CSS和JS文件 -->
        <link th:href="@{/css/show-map.css}" rel="stylesheet">
        
        <!-- 使用项目中已有的 echarts.min.js -->
        <script th:src="@{/js/echarts.min.js}"></script>
        <!-- 引入jQuery用于Ajax请求 -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
        <!-- 引入高德地图API用于地理位置识别 -->
        <script type="text/javascript">
        window._AMapSecurityConfig = {
            securityJsCode: "f8ad23bb5e2995594eb1c0d1a8c9e85f",
        };
        </script>
        <script src="https://webapi.amap.com/maps?v=2.0&key=8c25fcd7450b05cd9d63fd310c2f3652&plugin=AMap.Geocoder"></script>
        <script th:src="@{/js/show-map.js}"></script>
    </div>
</body>
</html>